*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.size-container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.size-container input{
    width: 50px;
    padding: 5px;
    margin: 5px;

}

.size-container button{
margin:5px;
}

.size-container button{
    padding: 5px;
}

.grid-container{
    height: 600px;
    width: 600px;
    
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}